.card {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: .5rem;

  h2 {
    margin-bottom: .5rem;
  }

  .imgCat {
    width: 100px;
    height: auto;
  }

  .buttons {
    margin-bottom: 5rem;
  }

  .text {
    font-size: 1.5rem;

    &.red {
      color: red;
    }

    &.blue {
      color: blue;
    }

    &.green {
      color: green;
    }
  }
}
